<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>title</label>
        <input type="text" placeholder="dien vao de" name="title">
        <label>image</label>
        <input type="text" placeholder="hinh 18+" name="image">
        <label>year</label>
        <input type="text" placeholder="sinh nhat" name="year">
        <button>add new movie</button>
    </form>
    
</body>
</html>